* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.cadastro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-image: url(../img/background-banner.jpg);
  background-position: center;
  background-size: cover;
  padding: 115px 0 90px 0;
}
/* ---------configErro--------- */
.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #1c1726;
  color: #beb6d2;
  width: 100px;
  position: fixed;
  border-radius: 4px;
  padding: 10px;
  margin-right: -46%;
  margin-top: -2%;
  text-align: center;
}

.card_erro #mensagem_erro{
  font-size: 12px;
  font-weight: 600;
}
/* --------------------------- */
.bannerCadastro {
  width: 70%;
  display: flex;
  justify-content: center;
  background-color: #010105;
  border-radius: 15px;
}
.containerCadastro {
  background: #1c1726;
  width: 100%;
  padding: 35px 50px;
  border-radius: 15px;
}
.cardImg {
  width: 30%;
  background: url(../img/banner-cadastro1.png);
  background-position: center;
  background-size: cover;
  filter: hue-rotate(35deg);
  border-radius: 15px 0 0 15px;
}
.headerCadastro ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.btnHeaderCadastro ul li a {
  font-size: 14px;
  font-weight: 600;
  color: #fa1e4e;
  text-decoration: none;
}
.btnHeaderCadastro ul li button {
  color: #beb6d2;
  font-size: 14px;
  font-weight: 600;
  background-color: #fa1e4e;
  border: none;
  border-radius: 5px;
  padding: 8px 10px;
  cursor: pointer;
}
.btnHeaderCadastro ul li button:hover {
  background-color: #be1b3f;
}
.cardcadastroText {
  display: flex;
}
/* -------------NOVO CSS----------------------------------- */
.form {
  width: 51%;
}
.form2 {
  width: 49%;
}
.hr,
.hr2 {
  border-bottom: 1px solid #2e273f;
  margin-bottom: 15px;
}
.form-control {
  padding-right: 6%;
}
.form-control,
.form-control2 {
  margin-bottom: 8px;
  padding-bottom: 17px;
  position: relative;
}

.form-control label,
.form-control2 label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input,
.form-control2 input {
  border: none;
  border-bottom: 1px solid #fa1e4e;
  outline: none;
  padding: 8px;
  border-radius: 2px;
  display: block;
  font-family: inherit;
  width: 100%;
  background-color: #00000038;
  color: rgba(255, 255, 255, 0.734);
}

.form-control input:focus::placeholder,
.form-control2 input:focus::placeholder {
  padding-left: 4px;
  color: #fa1e4e;
  transition: all 0.3s ease;
}

.form-control.success input,
.form-control2.success input {
  border-color: #2ecc71;
}

.form-control.error input,
.form-control2.error input {
  border-color: #fa1e4e;
}

.form-control i,
.form-control2 i {
  position: absolute;
  top: 8px;
  right: 20px;
  visibility: hidden;
}

.form-control.success i.fa-check-circle,
.form-control2.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle,
.form-control2.error i.fa-exclamation-circle {
  color: #fa1e4e;
  visibility: visible;
}

.form-control small,
.form-control2 small {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}

.form-control.error small,
.form-control2.error small {
  color: #fa1e4e;
  visibility: visible;
  font-size: 12px;
}
/* ----------------------------------------------------- */
.cardCadastro1 {
  width: 35%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.cardCadastro1 p {
  font-size: 12px;
  color: #beb6d2;
  margin-bottom: 8px;
  font-weight: 600;
  opacity: 50%;
}
.cardCadastro1 h2 {
  font-size: 27px;
  color: #beb6d2;
  font-weight: 600;
  line-height: 40px;
}
.cardCadastro1 span {
  font-size: 12px;
  color: #beb6d2;
  font-weight: 600;
  opacity: 50%;
}
.cardCadastro2 {
  width: 48%;
}
.boxCad2 {
  display: flex;
  width: 65%;
}
.cadastroformBox,
.cadastroformBox2 {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #2e273f;
}
.cadastroformBox input,
.cadastroformBox2 input {
  color: rgba(255, 255, 255, 0.734);
  border: none;
  border-bottom: 1px solid #fa1e4e;
  outline: none;
  padding: 8px;
  margin-bottom: 18px;
  background-color: #00000038;
  border-radius: 2px;
}
.cadastroformBox input:focus::placeholder,
.cadastroformBox2 input:focus::placeholder {
  padding-left: 4px;
  color: #fa1e4e;
  transition: all 0.3s ease;
}
.cadastroformBox {
  padding-right: 7px;
  margin-bottom: 18px;
}
.cadastroformBox2 {
  padding-left: 7px;
}
.tituloCadastro {
  color: #beb6d2;
  text-align: center;
  margin-bottom: 20px;
  display: none;
}
.btnCadastro {
  display: none;
}
.footerlogoCad2 {
  display: none;
}
@media (max-width: 1000px) {
  .cardImg {
    display: none;
  }
}
@media (max-width: 830px) {
  .form {
    width: 100%;
  }
  .form2 {
    width: 100%;
  }
  .hr {
    border-bottom: 0;
    margin-bottom: 0;
  }
  .form-control {
    padding-right: 0%;
  }
  .boxCad2 {
    flex-direction: column;
  }
  .cardcadastroText {
    justify-content: center;
    align-items: center;
  }
  .containerCadastro {
    background: #1c1726;
    width: 70%;
    padding: 30px 0px;
    border-radius: 15px;
  }
  .bannerCadastro {
    background-color: #00000000;
  }
  .cardCadastro1 {
    display: none;
  }
  .cardCadastro2 {
    width: 100%;
  }
  .bannerCadastro {
    width: 100%;
    margin: 40px 0 40px 0;
    background-color: none;
  }
  .headerCadastro ul {
    display: none;
  }
  .tituloCadastro {
    display: block;
  }
  .cadastroformBox input,
  .cadastroformBox2 input {
    padding: 8px;
    margin-bottom: 14px;
  }
  .cadastroformBox {
    margin-bottom: 0px;
    padding: 0px;
    border: none;
  }
  .cadastroformBox2 {
    padding: 0px;
    margin-bottom: 15px;
  }
  .btnCadastro {
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0 15px 0;
  }
  .btnCadastro {
    width: 100%;
  }
  .footerlogoCad1 {
    display: none;
  }
  .footerlogoCad2 {
    display: block;
  }
  .footerlogoCad2 span {
    color: #4a3e65;
    font-size: 10px;
    font-weight: 600;
  }
}
@media (max-width: 500px) {
  .boxCad2 {
    width: 80%;
  }
  .cadastro {
    padding: 70px 25px 0px 25px;
  }
  .containerCadastro {
    width: 100%;
  }
  .footerlogoCad2 .sci {
    flex-direction: column;
  }
  .form-control i,
  .form-control2 i {
    position: absolute;
    top: 8px;
    right: 8px;
    visibility: hidden;
  }
  .footerlogoCad2 span {
    color: #4a3e65;
    font-size: 10px;
    font-weight: 600;
  }
  .sci li a {
    margin: 12px 0 0 0;
  }
  .tituloCadastro {
    font-size: 25px;
  }
}
