/*-----------SCROLLBAR--------------*/
body::-webkit-scrollbar {
  width: 12px; /*Largura da Barra de rolagem */
}

body::-webkit-scrollbar-track {
  background: var(--scroltable); /* Cor da Raiz Principal da Barra de Rolagem */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--scrolbar); /* Cor do scroll Thub */
  border-radius: 20px; /* Curvatura do Scroll thumb */
  border: 2px solid var(--scroltable); /*Criar uma Borda com cor no Scroll thumb*/
}
/*----------------------------------*/

:root {
  --grey: #f1f0f6;
  --backgroundbuttom: #2e273f;
  --light: #fff;
  --light2: #ffffff;
  --dark: #000;
  --darkroxo: #1c1726;
  --darkroxoside: #1c1726;
  --navshadow: #00000014;
  --hoverside: #2e273f;
  --roxoclaro: #beb6d2;
  --sideli: #1c1726;
  --sidemark: #fa1e4e;
  --sidea: #fa1e4e;
  --hoversideleft: #fa1e4e;
  --borderbottomtopbar: 2px solid #2e273f;
  --backcards: #1c17268f;
  --cardshadow: none;
  --backlist: #1c1726;
  --trcolor: 1px solid #2e273f !important;
  --theadtrth: #8c7db0;
  --cardname: #7d768d;
  --numbercard: #beb6d2;
  --usercolor: #f5f5f5;
  --backchart: #1c17268f;
  --cardshover: 0px 0px 12px 0px #beb6d224;
  --chartname: #7d768d;
  --backfeedback: url(../img/new1-background.jpg);
  --backfeedback2: url(../img/3580eabc7ffc8362ce3e.44f63b5fe738.jpg);
  --estrela1e2: #fa1e4e;
  --estrela3: #ff4970;
  --estrelashadow: 0 0 20px #b40d31;
  --backfeed: #1c1726;
  --scroltable: #1c1726;
  --scrolbar: #63597b;
  --backDisco: #181420;
  --menuuser: #1c1726;
  --menuuserA: #beb6d2;
  --menuuserI: #beb6d2;
  --menuuserBorderTop: #2e273f;
  --nomeUsuario: #fa1e4e;
  --menuUserweb: #6d677c;
  --perfilnome: #fff;
  --pagetitle: #bbbabe;
  --profilebtn: none;
  --containerprofileborder: #2e273f;
  --profilecontinfoulli: #2e273f;
  --profileContInfoli: #8c7db0; 
  --profileContInfospan: #beb6d2; 
}

body.light {
  --profileContInfoli: #000; 
  --profileContInfospan: rgb(46, 46, 46); 
  --profilecontinfoulli: #ededed;
  --containerprofileborder: #f1f0f6;
  --profilebtn: #fff;
  --pagetitle: #000;
  --perfilnome: #000;
  --menuUserweb: #cecece;
  --nomeUsuario: #000;
  --menuuserBorderTop: rgba(0,0,0,0.05);
  --menuuserI: none;
  --menuuserA: #555;
  --menuuser: #fff;
  --darkroxo: #fff;
  --navbottom: #fff;
  --darkroxoside: #fa1e4e;
  --sideli: #fa1e4e;
  --hoverside: #ffffff;
  --sidemark: #ffffff;
  --sidea: #ffffff;
  --roxoclaro: #ffffff;
  --hoversideleft: #ffffff;
  --light2: #000000;
  --borderbottomtopbar: none;
  --backgroundbuttom: #f1f0f6;
  --backcards: #fff;
  --cardshadow: 0 7px 25px 0 rgb(0 0 0 / 8%);
  --dark: #fff;
  --backlist: whitesmoke;
  --trcolor: 1px solid rgb(238, 235, 235) !important;
  --theadtrth: none;
  --cardname: #888;
  --numbercard: none;
  --usercolor: none;
  --backchart: #fff;
  --chartname: none;
  --backfeedback: url(../img/background-feedback2.jpg);
  --backfeedback2: #fff;
  --backfeed: #111;
  --estrela1e2: #fd4;
  --estrela3: #fe7;
  --estrelashadow: 0 0 20px #952;
  --scroltable: whitesmoke;
  --scrolbar: darkgray;
  --backDisco: #fff;
}
/*----------------------------------*/

.divTable::-webkit-scrollbar {
  width: 12px;
  background-color: var(--scroltable);
}

.divTable::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--scrolbar);
}

/* -------------------------------------*/
/* -------page perfil-------- */
.profile-names, .profile-names2 {
  color: var(--perfilnome);
}
.page-title {
  color: var(--pagetitle);
}
#profilebtn{
  color:var(--profilebtn);
}
.containerProfile,
.containerProfile hr {
  border: 2px solid var(--containerprofileborder);
}
.profileContInfo hr {
  background: var(--containerprofileborder);
}
.profileContInfo ul li:nth-child(odd) {
  background: var(--profilecontinfoulli);
}
.profileContInfo ul li {
  color: var(--profileContInfoli);
}
.profileContInfo ul li span {
  color: var(--profileContInfospan);
}
/* -------------------------- */
.main.light {
  background: #f5f5f5;
}
.infoTotem h2,
.infoManual h2,
.cardManual p {
  color: var(--numbercard);
}
.cards .card,
.cardsManual .cardManual {
  background: var(--backcards);
  box-shadow: var(--cardshadow);
}
.card-name {
  color: var(--cardname);
}
.number {
  color: var(--numbercard);
}
.container {
  background: var(--backcards);
  box-shadow: var(--cardshadow);
}
#new {
  color: var(--dark);
}
thead {
  background: var(--backlist);
}
tr {
  border-bottom: var(--trcolor);
}
tbody tr td {
  color: var(--theadtrth);
}
thead tr th {
  color: var(--theadtrth);
}
#lista_funcionarios span,
#lista_totens span,
#listar_componentes span {
  color: var(--theadtrth);
}
.headerHard span {
  color: var(--chartname);
}
.cardsInfo .cardInfo1,
.cardsInfo .cardInfo2,
.cardsInfo .cardInfo3 {
  color: var(--numbercard);
}
.chart,
.chartDisco {
  background: var(--backchart);
}
.chart h2,
.chartDiscotext h2 {
  color: var(--chartname);
}
.gauge__cover {
  background: var(--backDisco);
}
.gauge__body {
  background: var(--backgroundbuttom);
}
.bannerFeed {
  background-image: var(--backfeedback);
  background-position: center;
  background-size: cover;
}
.avaliacao.light {
  background: var(--backfeedback2);
  background-position: center;
  background-size: cover;
}
.containerFeed {
  background: var(--backfeed);
}
.star-widget input:not(:checked) ~ label:hover,
.star-widget input:not(:checked) ~ label:hover ~ label {
  color: var(--estrela1e2);
}
.star-widget input:checked ~ label {
  color: var(--estrela1e2);
}
.star-widget input#rate-5:checked ~ label {
  color: var(--estrela3);
  text-shadow: var(--estrelashadow);
}
.avaliacao h1 {
  color: var(--theadtrth);
}
.text-box p {
  color: var(--theadtrth);
}

.topbar label[for="mode"] {
  max-width: 45px;
  min-width: 40px;
  height: 24px;
  background: var(--backgroundbuttom);
  border-radius: 24px;
  position: relative;
  cursor: pointer;
}
.topbar label[for="mode"]::before {
  content: "";
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  transition: all 0.3s ease;
  width: 16px;
  border-radius: 50%;
  background: #fa1e4e;
}
.topbar #mode:checked + label[for="mode"]::before {
  left: calc(100% - 16px - 4px);
}
/*------------------------------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
.topbar {
  position: fixed;
  background: var(--darkroxo);
  border-bottom: var(--borderbottomtopbar);
  box-shadow: 0 4px 8px 0 var(--navshadow);
  width: 100%;
  height: 60px;
  padding: 0 75px;
  display: grid;
  grid-template-columns: 15fr 1fr 0fr 0fr 0fr;
  align-items: center;
  align-content: center;
  z-index: 1;
}
/* ----------DROPDOWN---------- */
.action .profile {
  overflow: hidden;
  cursor: pointer;
}
.action .profile + i {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.action .menu {
  position: absolute;
  top: 120px;
  right: 56.5px;
  padding: 10px 20px;
  background: var(--menuuser);
  width: 200px;
  box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}
.action .menu.active {
  top: 65px;
  visibility: visible;
  opacity: 1;
  box-shadow: 0 4px 8px 0 var(--navshadow);
  display: grid;
}
.action .menu::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 28px;
  width: 20px;
  height: 20px;
  background: var(--menuuser);
  transform: rotate(45deg);
  transition: 0.5s;
}
.action .menu h3 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 500;
  color: #555;
  line-height: 1.2rem;
}
.action .menu h3 span {
  font-size: 14px;
  color: var(--menuUserweb);
  /* color: #cecece; */
  font-weight: 400;
}
.action .menu ul li {
  list-style: none;
  padding: 10px 0;
  border-top: 1px solid var(--menuuserBorderTop);
  display: flex;
  align-items: center;
}
.action .menu ul li i {
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: 0.5s;
  color: var(--menuuserI);
}
.action .menu ul li:hover i {
  opacity: 1;
}
.action .menu ul li a {
  display: inline-block;
  text-decoration: none;
  color: var(--menuuserA);
  font-weight: 500;
  transition: 0.5s;
}
.action .menu ul li:hover a {
  color: #fa1e4e;
}
.action .menu .nomeUser{
  font-size: 20px;
  color: var(--nomeUsuario);
  font-weight: 600;
}
/* ---------------------------- */
.profile-card,
.profile-names,
.profile-image {
  background: var(--darkroxo);
}
.profile-image {
  border: 10px solid var(--darkroxo);
}
.info {
  width: max-content;
  margin-right: 15px;
}
.info p {
  color: var(--light2);
}
.user + i {
  position: relative;
  width: 50px;
  height: 50px;
}
i.fas.fa-user-circle {
  color: var(--usercolor);
  font-size: 40px;
}
.user img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.logo img {
  width: 110px;
  margin-top: 5px;
}

/* sidebar começa aqui*/

.sidebar {
  position: fixed;
  top: 60px;
  width: 260px;
  height: calc(100% - 60px);
  background: var(--darkroxoside);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar ul {
  margin-top: 20px;
}
.sidebar ul li {
  width: 100%;
  list-style: none;
  padding: 0 50px;
  border-left: 2px solid var(--sideli);
  transition: 0.2s;
}
.sidebar ul li a {
  width: 100%;
  text-decoration: none;
  color: var(--roxoclaro);
  height: 60px;
  display: flex;
  align-items: center;
}
.sidebar ul li a i {
  min-width: 60px;
  font-size: 24px;
  text-align: center;
}
.sidebar ul li:hover {
  background: var(--hoverside);
  border-left: 2px solid var(--hoversideleft);
}
.sidebar ul li:hover a {
  transition: 0.4s;
  margin-left: 12px;
  color: #fa1e4e;
}
.sidebar #funcionariosInfo {
  border-left: 2px solid var(--sidemark);
}
.sidebar #lia {
  color: var(--sidea);
}
@media (max-width: 1115px) {
  .topbar {
    grid-template-columns: 10fr 1fr 0fr 0fr 0fr;
  }
  .sidebar {
    width: 60px;
  }
  .sidebar ul li {
    padding: 0 0px;
  }
  .sidebar ul li:hover a {
    margin-left: 0px;
  }
}
@media (max-width: 800px) {
  .topbar {
    grid-template-columns: 5fr 1fr 0fr 0fr 0fr;
  }
}
@media (max-width: 500px) {
  .topbar {
    grid-template-columns: 4fr 1fr 0fr 0fr 0fr;
    padding: 0 20px;
  }
  .user {
    width: 40px;
    height: 40px;
  }
  .action .menu {
    right: 2.5px;
  }
}
@media (max-width: 336px) {
  .topbar {
    grid-template-columns: 3fr 1fr 0fr 0fr 0fr;
    padding: 10px;
  }
  .info p {
    font-size: 12px;
  }
  .logo img {
    width: 90px;
    margin-top: 3px;
  }
}
