* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.bannerIndex {
  display: flex;
  padding: 70px 50px 0 50px;
  min-height: 100vh;
  background-image: url(../img/background-banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.text-boxIndex h1 {
  color: #beb6d2;
  font-size: 46px;
}
.text-boxIndex h2 {
  color: #beb6d2;
  margin-top: 2%;
}
.hero-button {
  background-color: #ae2d59;
  color: white;
  border: 1px solid #cb376a;
  margin-top: 5rem;
  padding: 0.9375rem 1.875rem;
  font-family: "Monserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 200;
  cursor: pointer;
}
.hero-button:hover {
  background-color: #cf1254;
  border: 1px solid #2b0311;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* html,
body {
  height: 100%;
}

body {
  color: #444;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
} */

.slider {
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.slider__nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.slider__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
  animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}
.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
.slider__contents {
  height: 100%;
  padding: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.slider__image {
  font-size: 2.7rem;
  color: #2196f3;
}
.slider__caption {
  font-weight: 500;
  margin: 2rem 0 1rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}
.slider__txt {
  color: #999;
  margin-bottom: 3rem;
  max-width: 300px;
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}
.bannerIndex2 {
  display: flex;
  flex-direction: column;
  padding: 70px 100px 70px 100px;
  min-height: 100vh;
  background-image: url(../img/background-banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.text-boxIndex2 {
  width: 100%;
  text-align: center;
}
.text-boxIndex2 h1 {
  color: #beb6d2;
  font-size: 46px;
}
.text-boxIndex2 h2 {
  color: #fa1e4e;
  font-size: 18px;
  margin-top: 2%;
  line-height: 28px;
}
.oquefazemos {
  margin-top: 80px;
}
.containerFaz {
  display: flex;
  width: 55%;
}
.containerFaz img {
  height: 70px;
}
.containerFaz2 {
  display: flex;
  flex-direction: row-reverse;
}
.containerFaz2 img {
  height: 70px;
}
.fazemosText {
  display: flex;
  flex-direction: column;
  padding-left: 60px;
}
.fazemosText h2 {
  font-size: 35px;
  color: #beb6d2;
  margin-bottom: 20px;
}
.fazemosText p {
  font-size: 16px;
  font-weight: 600;
  color: #8c7db0;
  margin-bottom: 70px;
}
.fazemosText2 {
  display: flex;
  flex-direction: column;
  padding-right: 60px;
  width: 49%;
}
.fazemosText2 h2 {
  font-size: 35px;
  color: #beb6d2;
  margin-bottom: 20px;
}
.fazemosText2 p {
  font-size: 16px;
  font-weight: 600;
  color: #8c7db0;
  margin-bottom: 70px;
}
.boxlistservice {
  margin: 100px 0;
  display: flex;
  justify-content: space-between;
}
.dolistservice {
  display: flex;
  flex-direction: column;
  background-color: #1c1726;
  width: 24%;
  padding: 52px 40px;
}
.dolistservice h3 {
  color: #beb6d2;
  margin-bottom: 20px;
  font-weight: 600;
}
.dolistservice p {
  color: #8c7db0;
  font-size: 14px;
  font-weight: 600;
}
.doimgservice img {
  height: 50px;
  margin: 0 0 20px;
}
@media (max-width: 1000px) {
  .boxlistservice {
    flex-direction: column;
  }
  .dolistservice {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media (max-width: 800px) {
  .containerFaz img {
    display: none;
  }
  .containerFaz2 img {
    display: none;
  }
  .oquefazemos {
    margin-top: 60px;
  }
  .fazemosText,
  .fazemosText2 {
    padding: 0px;
    width: 100%;
  }
  .fazemosText h2,
  .fazemosText2 h2 {
    font-size: 25px;
  }
  .containerFaz {
    width: 100%;
  }
  .containerFaz2 {
    flex-direction: row;
  }
  .bannerIndex2 {
    padding: 50px 35px 50px 35px;
  }
  .boxlistservice {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .dolistservice {
    align-items: center;
    padding: 18px;
  }
  .text-boxIndex h1,
  .text-boxIndex2 h1 {
    font-size: 30px;
  }
  .text-boxIndex h2,
  .text-boxIndex2 h2 {
    margin-top: 10%;
  }
}
